
.dropdown-check-list {
    display: inline-block;
}
.dropdown-check-list.hidden-select {
    display: none;
}

.dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    width: 100%;
    display: inline-block;
    border: 1px solid lightgrey;
    padding: 2%;
}

.dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 3px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
}

.dropdown-check-list ul.items {
    padding: 2px;
    display: none;
    margin: 0;
}

.dropdown-check-list ul.items li {
    list-style: none;
}

.dropdown-check-list.visible .anchor {
    color: #0094ff;
}

.dropdown-check-list.visible .items {
    display: block;
    width: 100%;
    overflow-y: scroll;
    margin-top: 10px;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    padding: 3%;
}
